<div class="container">
  <div class="container-inner inner-default clearfix">
    <%= paginate(@rooms) %><br>
    <% rooms.each do |room| %>
      <div class="item-box">
        <div class="image">
          <div class="img-wrap">
            <% if room.image.present? %>
              <a class="single" href=<%= room.image %> >
                <%= image_tag(room.image , alt: room.detail01) %>
              </a>
            <% else %>
              <%= image_tag("no-image.png" , alt: room.detail01) %>
            <% end %>
          </div>
        </div>
        <div class="detail">
          <div class="user_image">
            <%= link_to gravatar_for(room.user, size:30), room.user %>
          </div>
          <p class="title">
            <%= room.place %>
            <% if current_user == room.user %>
              <span class="del_link"><%= link_to image_tag("trash.png", alt:'削除ボタン'), room, method: :delete, data: { confirm: "削除しますか?" } %></span>
            <% end %>
            <br>
            <%= room.detail01 %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>