<% content_for :head do %>
  <title><%= @room.detail01 %> - Lovelivehome</title>
  <meta name="title" content="<%= @room.detail01 %> - Lovelivehome" />
  <meta name="description" content="<%= @room.detail01 %>の情報です。" />
<% end %>

<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% if @room.image != nil %>
            <%= image_tag(@room.image , alt: @room.detail01 ) %>
          <% else %>
            <%= image_tag('no-image.png' , alt: @room.detail01 ) %>
          <% end %>
        </div>
      </div>
      <div class="title">
        <%= @room.detail01 %>
      </div>
    </div>
  </div>
</div>
