<!DOCTYPE html>
<html lang="ja">
<head>
  <% if content_for?(:head) %>
    <%= yield :head %>
  <% else %>
    <title>Lovelivehome</title>
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript">$(function() {
    $(".single").colorbox({
      maxWidth:"90%",
      maxHeight:"90%",
      opacity: 0.7
      });
    });
  </script>
</head>
<body>

<%= render partial: "layouts/header" %>
<%= yield %>
<%= render partial: "layouts/footer" %>

</body>
</html>
